/*! critical:start */
@import "@parameter1/base-cms-marko-web-reveal-ad/scss/reveal-ad";
@import "@parameter1/base-cms-marko-web-theme-monorail/scss/components/reveal-ad";
/*! critical:end */
/*! critical:start */
/*! purgecss start ignore */
// only apply the default margin top when ad is requested on page.
body .document-container>.page:first-of-type {
  margin-top: 0;
}
body .ad-container--template-reskin-mobile + .document-container >  .page:first-of-type {
  margin-top: 298px;
}
body .ad-container--template-reskin-mobile + .document-container > .reveal-ad + .page:first-of-type {
  margin-top: 0;
}

// Prevent Reveal Ad from causing CLS
// @TODO determin if this should be moved to @parameter1/base-cms-marko-web
#marko-web-reveal-ad-handler {
  display: none;
}
.reveal-ad {
  height: 298px;
  overflow: hidden;
}
body .ad-container--template-reskin-mobile {
  // prevent layout shift & add 20px mb (298px + 20px)
  display: none;
  @media (max-width: 750px) {
    min-height: 318px;
    display: block;
    &+ .document-container > .page:first-of-type {
      margin-top: 0;
    }
  }
}

/*! purgecss end ignore */
/*! critical:end */
